<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391818364645-tqq97vlvecvugrt0nbjmeoduv4e32oo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391818364645-tqq97vlvecvugrt0nbjmeoduv4e32oo9</string>
	<key>API_KEY</key>
	<string>AIzaSyDDOsnDgKiuH4V7t4pVkclwIzmkVl2Ipa8</string>
	<key>GCM_SENDER_ID</key>
	<string>391818364645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreampro.tnns</string>
	<key>PROJECT_ID</key>
	<string>tn-ns-f0d64</string>
	<key>STORAGE_BUCKET</key>
	<string>tn-ns-f0d64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:391818364645:ios:650acebcfdc79670</string>
	<key>DATABASE_URL</key>
	<string>https://tn-ns-f0d64.firebaseio.com</string>
</dict>
</plist>